.checkout {
    background-color: #359c88;
    .container-fluid {
        color: #000;
        overflow-x: hidden;
        height: 100%;
        background-repeat: no-repeat;
        background-color: #359c88;
    }
    
    .card {
        background-color: #f0f3f2;
        margin: auto;
        border-radius: 30px;
        box-shadow: 0px 4px 8px 0px #085747;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 400px;
        padding: 0px;
    }

    .checkout-form{
        padding: 20px;
        padding-top: 0px;
    }

    .row-title {
        margin: auto;
        text-align: center;
        padding-top: 20px;
    }

    .row{
        margin: auto;
        text-align: left;
    }
    
    .form-field {
        color: #fff;
    }
    
    .border-line {
        border-right: 1px solid #BDBDBD;
    }
    
    .text-sm {
        font-size: 13px;
    }
    
    .text-md {
        font-size: 18px
    }
    
    .image {
        width: 60px;
        height: 30px
    }
    
    ::placeholder {
        color: grey;
        opacity: 1
    }
    
    :-ms-input-placeholder {
        color: grey
    }
    
    ::-ms-input-placeholder {
        color: grey
    }
    
    input {
        padding: 2px 0px;
        border: none;
        border-bottom: 1px solid lightgrey;
        margin-bottom: 5px;
        margin-top: 2px;
        box-sizing: border-box;
        color: #000;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 500
    }
    
    input:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border-bottom: 1px solid #179b81;
        outline-width: 0
    }
    
    button:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0
    }
    
    .btn-pay{
        width: 100%;
        background-color: #179b81;
        color: #fff;
        padding: 8px;
        border-radius: 50px;
        font-size: 18px;
        letter-spacing: 2px;
        border: 2px solid #fff;
    }
    
    .btn-pay:hover {
        box-shadow: 0 0 0 2px #179b81;
        color: #000;
    }
    
    .btn-pay:focus {
        color: #000;
        box-shadow: 0 0 0 2px #179b81 !important
    }
    
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
        background-color: #179b81
    }
    
    @media screen and (max-width: 575px) {
        .border-line {
            border-right: none;
            border-bottom: 1px solid #EEEEEE
        }
    }
    
    * {
        box-sizing: border-box;
      }
      form {
        width: 100%;
        margin: 0 auto;
      }
      .form-field {
        width: 100%;
        height: 40px;
        position: relative;
        background: white;
        margin-bottom: 10px;
        border-radius: 4px;
        box-shadow: 0 0 3px 0px rgba(0, 0, 0, .3);
        padding: 0 10px;
      }
      iframe {
        width: 100%;
        height: 100%;
      }
      .form-field-group {
        display: flex;
        flex-flow: wrap;
      }
      .form-field-group div {
        flex: 0 0 50%;
      }
      .form-field-group div:first-child {
        border-radius: 4px 0 0 4px;
      }
      .form-field-group div:last-child {
        border-radius: 0 4px 4px 0;
      }

}

