<div>
    <nav classNameName="navbar navbar-default navbar-expand-lg navbar-light">
        <div classNameName="navbar-header d-flex col">
            <a classNameName="navbar-brand" href="#">Brand Name</a>  		
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" classNameName="navbar-toggle navbar-toggler ml-auto">
                <span classNameName="navbar-toggler-icon"></span>
                <span classNameName="icon-bar"></span>
                <span classNameName="icon-bar"></span>
                <span classNameName="icon-bar"></span>
            </button>
        </div>
        <div id="navbarCollapse" classNameName="collapse navbar-collapse justify-content-start">
            <ul classNameName="nav navbar-nav">
                <li classNameName="nav-item"><a href="#" classNameName="nav-link">Home</a></li>
                <li classNameName="nav-item"><a href="#" classNameName="nav-link">About</a></li>			
                <li classNameName="nav-item dropdown">
                    <a data-toggle="dropdown" classNameName="nav-link dropdown-toggle" href="#">Services <b classNameName="caret"></b></a>
                    <ul classNameName="dropdown-menu">					
                        <li><a href="#" classNameName="dropdown-item">Digital Marketing</a></li>
                    </ul>
                </li>
                <li classNameName="nav-item active"><a href="#" classNameName="nav-link">Pricing</a></li>
                <li classNameName="nav-item"><a href="#" classNameName="nav-link">Blog</a></li>
                <li classNameName="nav-item"><a href="#" classNameName="nav-link">Contact</a></li>
            </ul>
            <form classNameName="navbar-form form-inline">
                <div classNameName="input-group search-box">								
                    <input type="text" id="search" classNameName="form-control" placeholder="Search here..."/>
                    <span classNameName="input-group-addon"><i classNameName="material-icons">&#xE8B6;</i></span>
                </div>
            </form>
            {this.state.currentUser==='noUser'? 
            <ul classNameName="nav navbar-nav navbar-right ml-auto">
             <li classNameName="nav-item"><Link classNameName="nav-link" to='/login'>Login</Link></li>
             <li classNameName="nav-item"><Link classNameName="btn btn-primary get-started-btn mt-1 mb-1" to='/signup'>Signup</Link></li>
            </ul>
             : 
             <div>
             <li classNameName="nav-item"><Link classNameName="nav-link" to='/signup'>Signup</Link></li>
             <li classNameName="nav-item"><Link classNameName="btn btn-primary" to='/#'>Logout</Link></li>
             </div>}		
        </div>
    </nav>
                    <div classNameName="intro">
                      <h1>Text To Order</h1>
                    </div>
                    <div classNameName="splash">
                    </div>
    
    
                <footer>
                    <a href="/restaurant/signup">Be a Partner Restaurant</a>
                </footer>
    
        </div>